@model ConsoleCMS.Models.ViewModels.vmAppUsersSections

@{
    ViewBag.Title = "AppUsersSections";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var appusserid = Model.AllAppUsersSections[0].AppUserId.ToString();
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<h3><i class="fa fa-angle-right"></i> Secciones</h3>
<h4 align="right"><a href="@Url.Action("AppUsersLocations", "AppUsers", new { id=appusserid })"><span class="glyphicon glyphicon-chevron-left">Regresar</span></a></h4>

<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Etapa</th>
                        <th>Módulo</th>
                        <th>Empezó</th>
                        <th>Terminó</th>
                        <th>Duración (Horas)</th>
                        <th>Grupo</th>
                        <th>Ciclo Escolar</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var reg in Model.AllAppUsersSections)
                        {
                            <tr>
                                <td>@reg.Stage.Name</td>
                                <td>@reg.Section.Name</td>
                                <td>@reg.StartedAt.Value.ToString("yyy-MM-dd hh:mm")</td>
                                <td>@reg.EndedAt.Value.ToString("yyy-MM-dd hh:mm")</td>
                                <td>@reg.Duration</td>
                                @if (reg.Grupo != null)
                                {
                                    if (reg.Grupo.GroupName != null && reg.Grupo.GroupName != string.Empty)
                                    {
                                        <td>@reg.Grupo.GroupName</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                                else
                                {
                                    <td>-</td>
                                }

                                @if (reg.Grupo != null)
                                {
                                    if (reg.Grupo.CicloEscolar != null && reg.Grupo.CicloEscolar != string.Empty)
                                    {
                                        <td>@reg.Grupo.CicloEscolar</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                                else
                                {
                                    <td>-</td>
                                }

                                <td>
                                    <button title="Contenidos" type="button" class="btn btn-default" aria-label="Left Align" onclick="goToSectionsContents('@reg.Id')"><span class="fa fa-briefcase"></span></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function goToSectionsContents(id) {
        location.href = "/AppUsers/AppUsersSectionsContent?id=" + id
    }

</script>


