@{
    Layout = null;
    string token = ViewBag.Token;
    string url = Url.Action("RecoverAdminPass", "Home", new { data = token }, Request.Url.Scheme);


    string siteURL = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + HttpContext.Current.Request.ApplicationPath.TrimEnd('/') + "/";
    url = siteURL.Replace("/ConsoleCMS/","/") + "Home/RecoverAdminPass?data="+token;
    if (!siteURL.Contains("nutrir-nestle")) { siteURL = "http://hta.nmedia.mx/img"; }

    string title_pass = siteURL + "/Images/Mail/title_pass.png";

    string row_image = siteURL + "/Images/Mail/row.jpg";
    string bullet = siteURL + "/Images/Mail/bullet.png";
}

<tr cellpaddin="0" cellspacing="0" border="0" style="background-color:#9bd4c6;">
    <td align="center" valign="bottom">
        <img src="@title_pass" align="center" style="padding:30px;">
    </td>
</tr>
<tr cellpaddin="0" cellspacing="0" border="0" style="background-color:#9bd4c6;">
    <td align="center" valign="bottom">
        <p style="font-family:Arial; font-size:20px; text-align:left; color:#fff; padding:0px 60px 0px;">Parece que has olvidado tu contraseña, obtén una nueva y continúa con el Programa Nutrir, sólo sigue los siguientes pasos:</p>
    </td>
</tr>
<tr cellpaddin="0" cellspacing="0" border="0" style="background-color:#9bd4c6;">
    <td align="left" valign="bottom">
        <ul style="padding:0px 90px 0px; list-style:none;">
            <li style="font-family:Arial; font-size:20px; color:#fff; margin-bottom:10px;"><img src="@bullet" style="margin-right:10px; vertical-align:middle;" />  Da <a href="@url" style="color:#0f81c4;">click aquí</a>.</li>
            <li style="font-family:Arial; font-size:20px; color:#fff; margin-bottom:10px;"><img src="@bullet" style="margin-right:10px; vertical-align:middle;" />  Ingresa tu nueva contraseña.</li>
            <li style="font-family:Arial; font-size:20px; color:#fff; margin-bottom:10px;"><img src="@bullet" style="margin-right:10px; vertical-align:middle;" />  Confirma la contraseña que elegiste.</li>
            <li style="font-family:Arial; font-size:20px; color:#fff; line-height:30px; margin-bottom:10px;"><img src="@bullet" style="margin-right:10px; vertical-align:middle;" />  Al finalizar, podrás ingresar a Nutrir con tu contraseña actualizada.</li>
        </ul>
    </td>
</tr>
<tr cellpaddin="0" cellspacing="0" border="0" style="background-color:#9bd4c6; padding-bottom:50px;">
    <td align="center" valign="bottom">
        <p style="font-family:Arial; font-size:20px; text-align:left; color:#fff; padding:0px 60px 50px;"><strong style="color:#0f81c4;">Si no solicitaste</strong> un cambio de contraseña, haz caso omiso de este mensaje.</p>
    </td>
</tr>
<tr cellpaddin="0" cellspacing="0" border="0" style="background-color:#9bd4c6;">
    <td align="center" valign="bottom" style="padding:0px;">
        <img src="@row_image" widht="100%" style="vertical-align:bottom;">
    </td>
</tr>