@model ConsoleCMS.Models.ViewModels.vmUsers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<h3><i class="fa fa-angle-right"></i> Usuarios</h3>
<h4 align="right"><a href="@Url.Action("Form", "Users")"><span class="glyphicon glyphicon-plus">Agregar</span></a></h4>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Último Login</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var reg in Model.AllUsers)
                        {
                            <tr>
                                <td>@reg.Name</td>
                                <td>@reg.LastNames</td>
                                <td>@reg.Mail</td>
                                <td>@reg.LastLogin</td>
                                <td>
                                    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="editReg(@reg.Id)"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;
                                    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="deleteModal('@reg.Id')"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function editReg(id){
        location.href = "Users/Form?id="+id
    }

    function deleteModal(id) {
        $("#btndeleteReg").remove()
        $("#foot").prepend("<button type='button' class='btn btn-primary' id='btndeleteReg' onclick='deleteReg("+id+")'>Confirmar</button>")
        $("#deleteModal").modal()
    }

    function deleteReg(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("deleteUser", "Users")',
            //contentType: "application/json; chartset=utf-8",
            //dataType: "json",
            data: { id: id },
            success: function (result) {
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        })
    }
</script>


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar acción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que quiere borrar este registtro?</p>
            </div>
            <div class="modal-footer" id="foot">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

