@model ConsoleCMS.Models.POCOs.UsersModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Nutrir Console</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/Console/assets/css/bootstrap.css")
    <!--external css-->
    @Styles.Render("~/Content/Console/assets/font-awesome/css/font-awesome.css")

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/Console/assets/css/style.css")
    @Styles.Render("~/Content/Console/assets/css/style-responsive.css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">

            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-login", role = "form", autocomplete = "off" }))
            {
                if (Session["LockedAt"] == null || Convert.ToDateTime(Session["LockedAt"]) < DateTime.Now)
                {
                    @Html.AntiForgeryToken()
                    <h2 class="form-login-heading">inicia sesión</h2>
                    <div class="login-wrap">
                        <input name="Mail" type="text" class="form-control" placeholder="Correo" autofocus required>
                        <br>
                        <input name="Password" type="password" class="form-control" placeholder="Contraseña" required>
                        <hr />
                        <div class="g-recaptcha" align="center" data-sitekey="@ViewBag.RecapKey"></div>
                        <label class="checkbox">
                            <span class="pull-right">
                                <a href="@Url.Action("ForgetPassword", "Home")"> Olvidé mi contraseña</a>

                            </span>
                        </label>
                        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Iniciar Sesión</button>

                    </div>
                }
                else
                {
                    <p>El inicio de sesión se encuentra bloqueado por favor intenta más tarde</p>
                }
            }
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">¿Olvidaste tu contraseña?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Ingresa tu correo electrónico para recuperarla.</p>
                            <input type="text" name="email" placeholder="Correo" autocomplete="off" class="form-control placeholder-no-fix">

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-theme" type="button">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Bnn_Scripts/BNN_Jquery.js"></script>
    <script src="~/Content/Console/assets/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/Console/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script src="~/Content/Console/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/Content/Console/assets/img/5027192-digital-wallpaper.jpg", { speed: 500 });
        //$.backstretch("/ConsoleCMS/Content/Console/assets/img/taller_back05.png", { speed: 500 });
    </script>


</body>
</html>